body {
	background-color: #efefef;
}

.demo-card-wide.mdl-card {
  width: 512px;
  /*margin: 0 auto;*/
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 178px;
  background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}



.demo-card-image.mdl-card {
  float: left;
  width: 256px;
  height: 256px;
  background: url('http://docs.oracle.com/javafx/2/charts/img/pie-sample.png') center / cover;
}

#other_sources {
	background: #fff; 
}

.demo-card-image > .mdl-card__actions {
  height: 50px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

#spacer {
	width: 512px;
}

.demo-list-icon {
  width: 300px;
}
